{% extends "base.html"%}
{% load embed_video_tags %}
{% block titulo %} Home{% endblock %}

{% block estilos %}

{% endblock %}


{% block contenido %}
<div class="page-wrapper bg-gra-02 p-t-30 p-b-100 font-poppins">
    <div class="container mt-5">
        <h1 class="text-center display-4">Welcome {{request.user}}</h1>
    </div>
    <div class="container mt-5">
        <h3> EXERCISES </h3>
        {% for i in obj %}
            {% video i.video 'small'%}
        {% endfor %}
    </div>
</div>
<hr>
{% endblock %}